
/* ------------------------------- HEADER ------------------------------- */

header{
	text-align: left;
	background-color: rgb(255,240,232);
	background-image:url(../images/chatons.gif);
	background-position: right;
	background-repeat: no-repeat;

	height: 178px;

	padding-left: 28px;
	padding-right: 28px;
	padding-top: 1px;

}

/* ------------------------------- BODY ------------------------------- */
body { 
	background-image:url(../images/wallpaper.jpg);
	cursor: url(../images/curseurchat4.png), auto;
	color: #696969;

	min-width:800px;
	margin-right: 75px;
	margin-left: 75px;
	height: 100%;
}

/* ------------------------------- FOOTER ------------------------------- */
footer{
  text-align: center;
  background-color: rgb(255,240,232);
  
  padding-top: 2px;
  padding-bottom: 10px;
  
  width: 100%;
  
  display: inline-block;
}

div#colonneP>article:last-child,div#colonneP>div:last-child, div#colonneP>form[id="soumissionArticle"] {
	margin-bottom: 30px;
}

/* ------------------------------- ELEMENTS TOUTES PAGES ------------------------------- */

div#colonneP {
	width: 78%;
	float: left;
	text-align: left;
	
	margin-top: 10px;
	min-height: 700px;
}

article, div#resultatsRecherche{ /* page RECHERCHE */ 
	border-width:3px;
	border-style:dashed;
	border-color:white;
	border-radius: 10px 10px 10px 10px;

	margin-top: 5px;
	margin-right: 2%;

	text-align: justify;
	
	padding-left: 5px;
	padding-right:5px;	
}

/* page INSCRIPTION */
div#inscription{ 
	border-width:3px;
	border-style:dashed;
	border-color:#F08080;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(255,240,232);
	
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 15%;

	margin-top: 5%;
	margin-left: 25%;
	margin-right:25%;
}

div#inscription input{
	width: 100%;
	margin-bottom: 25px;
}

div#inscription input:last-child{
	
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 15px;
	margin-bottom: 25px;
}

aside{
	text-align: center;
	width: 18%;
	float: right;
	background-color: rgb(255,240,232);

	border-width:3px;
	border-style:dashed;
	border-color:#F08080;
	border-radius: 10px 10px 10px 10px;

	margin-top: 15px;	
}

aside input{
    margin-left: auto;
    margin-right: auto;
	width: 100px;
}

h2 {
	text-align: left;
}

h3{
	margin-bottom: 2px;
}

em{
	color: #696969;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

ul{
	list-style-type:none;
	margin-right: 35px;
}

li{
	margin-bottom: 5px;
}

input,textarea{
	margin-bottom: 10px;
	display:block;
}

input[name="Rechercher"]{
width: 108px;
margin-bottom: 10px;
display: inline-block
}

/* curseur chaton lors du survol ou du clic */
:hover{ cursor: url(../images/curseurchat4.png), auto; }
:active{ cursor: url(../images/curseurchat4.png), auto;}


/* ------------------------------- PAGE INTROUVABLE ------------------------------- */

img#rick{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ------------------------------- PAGE ARTICLE ------------------------------- */

.pageArticle{
	border-width:3px;
	border-style:dashed;
	border-color:white;
	border-radius: 10px 10px 10px 10px;

	margin-top: 5px;
	margin-right: 2%;

	padding-left: 7px;
	padding-right:7px;

	text-align: justify;

	min-height: 400px;
}

.pageArticle img{
	float: left;
	padding-right: 7px;
	padding-bottom: 7px;
}

.pageArticle h2{
	font-size: 15pt;
}

.image_article{
	text-align: center;
	padding-left: 17px;
	padding-bottom: 17px;
	vertical-align: middle;
}

.texte_article{
	display: inline-block;
	text-align : justify;
	margin-left: 2%;
	vertical-align: middle;

	padding-right: 17px;
	padding-bottom: 17px;
}

.texte_article h2{
	text-align: center;
	font-size: 15pt;
}

div#commentairesArticle h1{
	font-size: 18pt;
}

div#commentairesArticle button{
	margin-top: 20px;
}

div#commentairesArticle {
	display: inline-block;
	
	margin-top: 20px;
	margin-right: 2%;
	
	padding-left: 7px;
	padding-right:7px;
	
	border-width:3px;
	border-style:dashed;
	border-color:white;
	border-radius: 10px 10px 10px 10px;
	
	text-align: justify;
	
	width: 96%;
	padding-bottom: 14px
}

.commentaire,.resultatRecherche{/* + PAGE RECHERCHE */
	border-top-style:dashed;
	border-top-width: 2px;
	border-top-color: #696969;
	
	margin-bottom: 20px;
}

div #commentairesArticle form {
	padding-top: 20px;
	display: inline-block;
	
	border-top-style:dashed;
	border-top-width: 2px;
	border-top-color: #696969;
	
	width: 100%;
	
	margin-top: 15px;
}

/* ------------------------------- PAGE AJOUTER UN ARTICLE ------------------------------- */

input[type="file"]{
	width: 300px;
}

