
h2{
color: #696969;
text-align: center;
font-weight: bold;
font-style: italic;
}

div#banniere{
position: fixed;
top:0;
}

body { 
margin-top: 9%;
background-image:url(images/wallpaper.jpg);
cursor: url(images/curseurchat4.png), auto;
color: #696969;
}


div#colonneP {
text-align:center;
width: 84%;
border-right: 16%;
float: left;
}
	
div#colonneD {
	text-align: center;
	width: 15%;
	float: right;
	background-color: rgb(254,244,236);

	border-width:3px;
	border-style:dashed;
	border-color:#F08080;
	border-radius: 10px 10px 10px 10px;

	margin-top: 5%;
}

div#piedpage {

	text-align: center;
	width: 100%;
	height: 7%;

	background-color: rgb(254,244,236);

	position: fixed;
	bottom: 0;
}