header{
top:0 ;
/*problème des pixels à gauche : */
left: 0;
text-align: center;
background-color: rgb(254,244,236);
}

h2 {
margin-left: 2%;
text-align: left;
}

h3{
font-style: italic;
font-weight: none;
}

em{
color: #696969;
text-align: center;
font-weight: bold;
font-style: italic;
}

.article{
border-width:3px;
border-style:dashed;
border-color:white;
border-radius: 10px 10px 10px 10px;

margin-top: 5%;
margin-right: 5%;
}

/* Mettre en ligne l'image et le texte de chaque article : création de classes :
D'abord image_article puis après texte_article :
L'image sera à gauche et le texte à droite */
.image_article{
display: inline-block;
padding-left: 2%;
}
/* L'image est bien dans l'encadrée */
/* Le float : left pour l'img ne fonctionne pas ; ne prend pas en compte encadré */

.texte_article{
display: inline-block;
margin-left: 10%;
}

body { 

background-image:url(images/wallpaper.jpg);
cursor: url(images/curseurchat4.png), auto;
color: #696969;
}

div#colonneP {
text-align:center;
width: 84%;
border-right: 16%;
float: left;
}
	
div#colonneD {
text-align: center;
width: 15%;
float: right;
background-color: rgb(254,244,236);

border-width:3px;
border-style:dashed;
border-color:#F08080;
border-radius: 10px 10px 10px 10px;

margin-top: 5%;
}

footer {
margin-top: 90%;
text-align: center;
width: 100%;
height: 7%;

background-color: rgb(254,244,236);
position: relative;
bottom:0;
/*problème des pixels à gauche : */
left: 0;
}
